alias tmn=tmux-new-session-detached
alias vim=nvim
alias cla="gcloud config configurations activate $@"
alias tg=terragrunt
alias tf=terraform
alias tlogin='gcloud config configurations activate default && gcloud auth application-default login'
